// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.

function ArrMax.arrMax 2
push argument 0
pop pointer 1 // place first val in pointer

// check if len 0
push argument 1
push constant 1
lt
if-goto empt_arr


// arr it
push constant 0
pop temp 0 

push that 0
pop local 0 // store first val in local 1

push argument 1
push constant 1
sub
pop temp 1 //place the current val to check in arr (len-1)
goto MAIN_LOOP

label MAIN_LOOP
    push temp 0 // arr it
    push constant 1
    add
    pop temp 0
    push temp 0
    push temp 1
    gt
    if-goto LOOP_ENDER

    //else
    push argument 0
    push temp 0
    add
    pop pointer 1
    push that 0
    pop temp 3 // store currval

    push temp 3
    push local 1
    gt
    if-goto UPDATE
    goto MAIN_LOOP

label UPDATE
    push temp 3
    pop local 1
    goto MAIN_LOOP

label LOOP_ENDER
    push local 1
    return

label empt_arr
    push constant 0
    return

