// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1

// if base case x < 2
push argument 0
push constant 2
lt
if-goto base

// fib x-1
push argument 0
push constant 1
sub
call Fib.fib 1


// fib x-2
push argument 0
push constant 2
sub 
call Fib.fib 1

add
return

// base case
label base
    push argument 0
    return